FORM { border : solid gray 2px; padding : 3px; }
form { background : #efe ;   color : #000; }
body { font-family: Cambria; }
h1, h2, h3, h4 { font-family: Candara, sans-serif; }
* { line-height: 1.2; }
.important { width: 12em; float: right; margin: 0 0 0.3em 1em }